<main class="p-5 flex flex-col gap-5">
  <div class="flex justify-center items-center gap-3">
    <select
      [value]="tasksPerPage"
      (change)="changePageSize($event)"
      style="
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        margin-right: 40px;
      "
    >
      <option value="1">1</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="10">10</option>
    </select>
    <button class="btn-previous" (click)="previousPage()">Previous</button>
    <div class="flex justify-center items-center gap-3">
      <button
        [class]="{
          btnOfPagination: page != activePageNumber,
          btnOfPaginationActive: page === activePageNumber
        }"
        *ngFor="let page of pageNumbers"
        (click)="changePage(page)"
      >
        {{ page }}
      </button>
    </div>
    <button class="btn-next" (click)="nextPage()">Next</button>
  </div>
</main>
